@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import 'globals';
@import 'themes';


// base template styling to be applied to every section

* {
    font-family: Roboto;
}

body {
    margin: 0;
}

.theme {
    height: 100vh;
    width: 100%;
}
  

.base {
    @include themed() {
        color: t($text);
        background: t($bg);
    }
}

