@import 'globals';
@import 'themes';


.logo {
    cursor: pointer;
}

.nav-bar {
    display: flex;
    justify-content: right;
    ul {
        margin: 0;
        padding: 20px 0 0 0;
    }
}

.nav-links {
    
    li {
        display: inline-block;
        padding: 0px 20px;

        

        a {
            transition: all 0.3s ease 0s;
        }

        a:link {
            text-decoration: none;
        }

        a:visited {
            color: white;
            
            @include themed() {
                color: t($text);
            }
        }

        a:hover {
            text-decoration: underline;
            text-underline-offset: 0.5em;
            text-decoration-thickness: 0.1em;
        }
    }
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    button:hover {
        background-color: rgba(0, 136, 169, 0.8);
    }
}