@import 'globals';

.Portfolio {
    // info section to match margin of nav logo
    .info {
        margin: 0 0 0 7vw;

        .title {
            color: $dark-orange;
            font-size: 18px;
            font-weight: 700;
        }
        
        .intro p {
            line-height: 1.6;
            margin-top: 5px;
        }
    }
    
    
    .t-button {
        background: white;
    }

    .project-area {
        display: flex;
        flex-direction: column;

        .filter-button {
            display: flex;
            flex-direction: row;
            p {
                padding-right: 10px;
            }
            
        }
    }
}

// Ultra Wide Monitors
@media screen and (min-width: 1921px) and (max-width: 3440px) {
    .Portfolio {
        // info section to match margin of nav logo
        .info {
            margin: 0 0 0 25vw;
        }
    }
}


