$bg-color: rgba(36, 37, 42, 1);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Josefin Sans', sans-serif;
}

li,
a,
button {
    font-weight: 500;
    font-size: 1em;
    color: #edf0f1;
    text-decoration: none;
}

/*
    HEADER CONTENT
*/

header {
    // background color and gradient
    background: linear-gradient(
        to bottom,
        $bg-color,
        rgba(36, 37, 42, 0.1)
    );

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 100vw;

    // these 2 lines dictate how the header appears above the video background
    position: fixed;
    z-index: 1;




}

.logo {
    cursor: pointer;
}

.nav_links {
    li {
        display: inline-block;
        padding: 0px 20px;

        a {
            transition: all 0.3s ease 0s;
        }

        a:hover {
            color: #0088a9;
        }
    }
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    button:hover {
        background-color: rgba(0, 136, 169, 0.8);
    }
}

/*
    CORE CONTENT
*/

#fadein {
    opacity: 0;
}

body {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    height: 100vh; // fills up rest of view
    background-color: $bg-color;
}

.landing {
    opacity: 0;

    display: flex;
    flex: 1;
    
    // for text overlay on video landing page
    .overlay {
        color: black;
        font-family: 'Josefin Sans', sans-serif;

        // positioning
        position: absolute;
        top: 40vh;
        left: 13vw;
        z-index: 100;
        
    }

    #background-video {
        height: 100%;
        width: 100%;
    }
}


/*
    FOOTER CONTENT
*/

footer {
    // these 3 lines dictate how the footer appears above the video background
    position: fixed;
    bottom: 0;
    width: 100vw;

    // background color and gradient
    background: linear-gradient(to top,
            $bg-color,
            rgba(36, 37, 42, 0.1)
    );

    .container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 10%;

        color: white;
    }
}