$bg-color: rgba(36, 37, 42, 1);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Josefin Sans', sans-serif;
}

li,
a,
button {
    font-weight: 500;
    font-size: 1em;
    color: #edf0f1;
    text-decoration: none;
}

/*
    HEADER CONTENT
*/

header {
    // background color and gradient
    background-color: $bg-color;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 100vw;
}

.logo {
    cursor: pointer;
}

.nav_links {
    li {
        display: inline-block;
        padding: 0px 20px;

        a {
            transition: all 0.3s ease 0s;
        }

        a:hover {
            color: #0088a9;
        }
    }
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    button:hover {
        background-color: rgba(0, 136, 169, 0.8);
    }
}

/*
    CORE CONTENT
*/

#fadein {
    opacity: 0;
}

body {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    height: 100vh; // fills up rest of view
    background-color: $bg-color;
}


.skillset {
    opacity: 0;

    // so main content section takes up as much space as possible
    display: flex;
    flex: 1;

    justify-content: center;

    padding: 0 15vw;


    .container {
        display: flex;
        flex-direction: column;
    
        color: white;

        .caption {
            display: flex;
            justify-content: center;

            margin-bottom: 1vh;
        }

        // box for where the buttons are laid out on
        .buttons_row {
            display: flex;
            flex-direction: row;
            justify-content: center;

            margin-bottom: 1vh;

            h3 {
                padding-top: 1vh;
            }

            button {
                // create space between buttons
                margin-left: 1vw;
                margin-right: 1vw;
            }
        }

        // box where the cards are laid out on
        .cards_row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;


            .card {
                /* Add shadows to create the "card" effect */
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
                border-radius: 5px; /* 5px rounded corners */

                // background-color: orange;

                display: flex;
                flex-direction: column;
                align-items: center;

                // space between cards
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 10px;
                margin-bottom: 10px;

                min-height: 75px;

                width: 5vw;
                height: 8vh;
            }  

            /* On mouse-over, add a deeper shadow */
            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

            /* Add rounded corners to the top left and the top right corner of the image 
            img {
                border-radius: 5px 5px 0 0;
            }
            */
        }
    }
}


/*
    FOOTER CONTENT
*/

footer {

    // background color and gradient
    background-color: $bg-color;

    .container {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;

        color: white;
    }
}