$bg-color: rgba(36, 37, 42, 1);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Josefin Sans', sans-serif;
}

li,
a,
button {
    font-weight: 500;
    font-size: 1em;
    color: #edf0f1;
    text-decoration: none;
}

/*
    HEADER CONTENT
*/

header {
    // background color and gradient
    background-color: $bg-color;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 100vw;
}

.logo {
    cursor: pointer;
}

.nav_links {
    li {
        display: inline-block;
        padding: 0px 20px;

        a {
            transition: all 0.3s ease 0s;
        }

        a:hover {
            color: #0088a9;
        }
    }
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    button:hover {
        background-color: rgba(0, 136, 169, 0.8);
    }
}

/*
    CORE CONTENT
*/

#fadein {
    opacity: 0;
}

body {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    height: 100vh; // fills up rest of view
    background-color: $bg-color;
}


.about {
    opacity: 0;
    
    display: flex;
    flex: 1;
    
    // set height of about flexbox
    // kind of a cheat since we don't want the footer to be pushed out of view
    // so we set the height super small and the img autoresizes to be between the header
    // and footer
    height: 1vh;

    .container {
        // flex layout of items
        display: inherit;
        flex-direction: row;
        width: 100%;
        
        color: white;
        .picture {
            width: 50vw;
            overflow-wrap: break-word;

            // flex layout of items inside
            display: flex;
            justify-content: center;
            align-items: center;

            // allows resizing of image
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .description {
            padding: 5vw;
            width: 50vw;
            overflow-wrap: break-word;

            // flex layout of items inside
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            // this allows break in between lines of content
            .break {
                flex-basis: 10%;
                height: 0;
            }
        }
    }
}

.skillset {
    opacity: 0;
    
    display: flex;
    flex-direction: column;
    flex: 1;

    .container {
        
        justify-content: center;
        color: white;
    }
}

.resume {
    opacity: 0;
    
    display: flex;
    flex-direction: column;
    flex: 1;

    .container {
        
        justify-content: center;
        color: white;
    }
}


/*
    FOOTER CONTENT
*/

footer {

    // background color and gradient
    background-color: $bg-color;

    .container {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;

        color: white;
    }
}